@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

::selection {
    color: #fff;
    background: #d43f8d;
}

.container {
    height: 100vh;
    position: absolute;
    width: 55vw;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    padding: 0;
}

.container .form-outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-outer form .page {
    -webkit-box-shadow: 0px 0px 9px 4px rgba(148, 145, 145, 0.53);
    box-shadow: 0px 0px 9px 4px rgba(148, 145, 145, 0.53);
    margin: 2vw 4vw 2vw 4vw;
    width: 95%;
    transition: margin-left 0.3s ease-in-out;
    margin-top: 10px;
}

.form-outer form .title {
    padding: 13px 0px 13px 50px;
    border-bottom: #ABA9A9 solid 2px;
    color: #ABA9A9;
    text-align: left;
    font-size: 13px;
}

.conteudo-dados {
    display: flex;
    flex-wrap: wrap;
}

.form-outer form .field {
    width: 250px;
    height: 45px;
    margin: 35px 0;
    margin-bottom: 0;
    display: flex;
    position: relative;
    margin-left: 50px;
}

form .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .field input {
    height: 50%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px;
}

form .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.container .progress-bar .step {
    width: 100%;
    position: relative;
}

.progress-bar .step .bullet {
    height: 70px;
    width: 70px;
    border: 5px solid #ff6d3c;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 1s;
    font-weight: 500;
    font-size: 17px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

.progress-bar .step .bullet.active {
    color: #fff;
    background: #ff6d3c;
}

.progress-bar .step .line {
    position: fixed;
    height: 7px;
    width: 55vw;
    background: #ff6d3c;
    border: none;
}

.progress-bar .step .bullet span {
    font-size: 25px;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #d43f8d;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1;
    padding: 5px;
    font-size: 15px;
    /* Firefox */
}


/* BUTTONS */

.container-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.btnAvancar {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #ff6d3c;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.btnAvancar:hover {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #ff6d3c;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.btnCancelar {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #ffff;
    margin-top: -20px;
    border-radius: 5px;
    color: rgb(109, 24, 134);
    border: 2px solid rgb(109, 24, 134);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.btnCancelar:hover {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: rgb(109, 24, 134);
    margin-top: -20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(109, 24, 134);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}