/* Wider than desktop  */

@media (min-width: 1200px) {}


/* Landscape phone to desktop  */

@media (max-width: 1250px) {
    .container-zona-arquivo {
        flex-direction: column;
    }
    .arquivos-list {
        border-right: none;
        border-bottom: solid 2px #000;
    }
    .conteudo-formulario {
        margin: 0 px 0 px 0 px 0 px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 px 0 px 0 px 0 px;
        justify-content: center;
        align-items: flex-start;
        margin-left: 25 px;
    }
    .container-4 p {
        font-size: 10px;
    }
    .container-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formulario-2 {
        width: 45vw;
    }
    .botao-cancelar {
        width: 45vw;
    }
    .botao-avancar {
        width: 45vw;
    }
}


/* Landscape phone to landscape tablet  */

@media (max-width: 979px) {}


/* Small desktop  */

@media (min-width: 768px) and (max-width: 1220px) {
    .container-3 {
        flex-direction: column;
    }
    .conteudo-formulario {
        justify-content: left;
    }
    .formulario-3 {
        width: 45vw;
    }
    .botao-cancelar {
        width: 45vw;
    }
    .botao-avancar {
        width: 45vw;
    }
}


/* Landscape phone to portrait tablet  */

@media (max-width: 767px) {
    .container-4 p {
        font-size: 25px;
    }
    #regForm {
        width: 100vw;
    }
    .formulario-3 {
        width: 65vw;
    }
    .container-3 {
        flex-direction: column;
    }
    .barra-progresso {
        width: 100vw;
    }
    .conteudo-formulario {
        justify-content: left;
    }
    .step p {
        opacity: 1;
    }
    .step.active p {
        display: flex;
        margin: 0;
        font-size: 15px;
        opacity: 1;
    }
    .step .circulo {
        height: 55px;
        width: 55px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        border: 5px solid #ff6d3c;
        font-size: 20px;
        color: #ff6d3c;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .step .circulo span {
        margin: 0;
    }
    .step p {
        margin: 0;
        font-size: 15px;
    }
    .step.active .circulo {
        background-color: #ff6d3c;
        color: white;
        opacity: 1;
        font-size: 30px;
        padding: 25px;
    }
    .line {
        width: 100vw;
    }
    .botao-cancelar {
        width: 60vw;
    }
    .botao-avancar {
        width: 60vw;
    }
}

@media(max-width: 630px) {
    .conteudo-formulario {
        justify-content: center;
    }
    .formulario-2 {
        width: 60vw;
    }
}

@media (max-width: 610px) {
    .botao-cancelar {
        width: 80vw;
    }
    .botao-avancar {
        width: 80vw;
    }
}


/* Landscape phones and smaller  */

@media (max-width: 480px) {
    #regForm {
        width: 100vw;
    }
    * {
        box-sizing: none;
    }
    .barra-progresso {
        width: 100vw;
    }
    .formulario-2 {
        width: 85%;
    }
    .formulario-3 {
        width: 95%;
    }
    .container-btns {
        padding: 0px;
        margin: 0px;
    }
    .step p {
        opacity: 1;
    }
    .step.active p {
        display: inline;
        margin: 0;
        font-size: 16px;
        opacity: 1;
    }
    .step .circulo {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        border: 3px solid #ff6d3c;
        font-size: 15px;
        color: #ff6d3c;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .step .circulo span {}
    .step p {
        margin: 0;
        font-size: 15px;
    }
    .step.active .circulo {
        height: 40px;
        width: 40px;
        background-color: #ff6d3c;
        color: white;
        opacity: 1;
        font-size: 15px;
        padding: 0;
    }
    .line {
        width: 100vw;
        margin-top: 38px;
        height: 4px;
    }
    .botao-cancelar {
        width: 75%;
    }
    .botao-avancar {
        width: 75%;
    }
}

@media (max-width: 350px) {
    .container-4 p {
        font-size: 20px;
    }
    .formulario-2 {
        width: 95%;
    }
    .formulario-3 {
        width: 100%;
    }
    .campos-input {
        margin-left: 10px;
    }
    .step p {
        opacity: 1;
        font-size: 12px;
    }
    .step.active p {
        display: inline;
        margin: 0;
        font-size: 12px;
        opacity: 1;
    }
    .line {
        width: 100vw;
        margin-top: 38px;
        height: 4px;
    }
}

@media (max-width: 280px) {
    #regForm {
        width: 100vw;
    }
    .barra-progresso {
        width: 100vw;
    }
    .step p {
        opacity: 0;
    }
    .step.active p {
        display: inline;
        margin: 0;
        display: none;
        opacity: 0;
    }
    .step .circulo {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        border: 3px solid #ff6d3c;
        font-size: 15px;
        color: #ff6d3c;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .step .circulo span {
        opacity: 0;
    }
    .step p {
        margin: 0;
        display: none;
    }
    .step.active .circulo {
        height: 25px;
        width: 25px;
        background-color: #ff6d3c;
        color: white;
        opacity: 1;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
    .line {
        width: 105vw;
        margin-top: 30px;
        height: 4px;
    }
    .container-btns {
        width: 100vw;
    }
    .botao-cancelar {
        width: 100vw;
    }
    .botao-avancar {
        width: 300px;
    }
}