* {}

body {
    background-color: #F7F7F9;
}

.container {
    height: 80vh;
    border-radius: 10px;
}

.container-header {
    height: 25vh;
    border-bottom: 1px solid #FF6633;
}

.usuario-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.usuario-foto img {
    width: 80%;
    height: 80%;
}

.dados-usuario {
    margin-top: 4%;
}

.container-interesses {
    border: 1px solid #FF6633;
    width: 90%;
    height: 100px;
}

.container-interesses ul {
    list-style: none;
}