img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #8a8a8b;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 15%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 70%;
    margin-bottom: 20px;
}

.user_img {
    width: 40px !important;
    height: 40px !important;
}

.received_withd_msg p {
    background: #ECE7E7 none repeat scroll 0 0;
    border-radius: 10px;
    color: #000000;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #8a8a8b;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.received_withd_msg {
    width: 90%;
}

.mesgs {
    border-radius: 0px 10px 10px 0px;
    float: left;
    padding: 30px 15px 0 25px;
    width: 30%;
    /* border-left: 4px solid #CECED0; */
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #CECED0;
    border-radius: 30px;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    padding: 10px 50px 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input_msg_write input:focus {
    outline: none;
}

.type_msg {
    position: relative;
}

.msg_send_btn {
    color: #fff;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 25px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 90%;
    overflow-y: auto;
}

.postagem {
    display: flex;
    padding: 0px;
    width: auto;
    height: auto;
    justify-content: center;
}

.offset-lg-1 {
    margin: 0px !important;
}


/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/

body {
    background-color: #F7F7F9;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 0;
}

.row {
    padding-right: 0px !important;
    --bs-gutter-x: 0rem !important;
}

.hero {
    padding: 6.25rem 0px !important;
    margin: 0px !important;
}

.cardbox {
    padding: 0px !important;
}


/* ------------------------------- */

.categoria {
    border-radius: 5px;
    box-sizing: none !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 20px;
}

.categoria-top {
    color: #fff;
    border-radius: 5px;
    width: 100%;
    background-color: #ff6d3c;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 0px 5px 15px;
}

.categoria ul {
    padding: 2px 0px 5px 15px;
}


/* Cardbox Heading
  ---------------------------------- */

.cardbox .cardbox-heading {
    padding: 10px 0px 10px 10px;
    margin: 0;
}

.cardbox .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    background: #b5b6b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardbox .float-right .dropdown-menu {
    position: relative;
    left: 13px !important;
}

.cardbox .float-right a:hover {
    background: #f4f4f4 !important;
}

.cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-family: 'Abhaya Libre', serif;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}


/* ------------------------------- */


/* Media Section
  ---------------------------------- */

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.media .mr-3 {
    margin-right: 1rem !important;
}

.media img {
    border: none !important;
    width: 58px !important;
    height: 58px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
}

.media .link {
    border: none !important;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #f4f4f4;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
}

.media-body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500 !important;
    font-size: 15px;
    color: #000000;
}

.media-body small span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
}


/* ------------------------------- */


/* Cardbox Item
  ---------------------------------- */

.cardbox .cardbox-item {
    position: relative;
    display: block;
    width: 100%;
    height: 650px;
}

.cardbox-img {
    width: 100%;
    height: 650px;
}

.cardbox .cardbox-item img {}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.fw {
    width: 100% !important;
    height: auto;
}


/* ------------------------------- */


/* Cardbox Base
  ---------------------------------- */

.cardbox-base {}

.cardbox-base ul {
    margin: 10px 0px 10px 15px!important;
    padding: 10px !important;
    font-size: 0px;
    display: inline-block;
}

.cardbox-base li {
    list-style: none;
    margin: 0px 5px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
}

.cardbox-base li a {
    margin: 0px !important;
    padding: 0px !important;
}

.cardbox-base li a i {
    position: relative;
    top: 4px;
    font-size: 16px;
    color: #8d8d8d;
    margin-right: 15px;
}

.cardbox-base li a span {
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 20px;
    position: relative;
    top: 5px;
}

.cardbox-base li a em {
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    position: relative;
    top: 3px;
}

.cardbox-base li a img {
    width: 30px;
    height: 30px;
    margin: 0px !important;
    border: 2px solid #fff;
}


/* ------------------------------- */


/* Cardbox Comments
  ---------------------------------- */

.cardbox-comments {
    padding: 10px 40px 20px 40px !important;
    font-size: 0px;
    text-align: center;
    display: inline-block;
}

.cardbox-comments .comment-avatar img {
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
}

.cardbox-comments .comment-body {
    overflow: auto;
}

.search {
    position: relative;
    right: -60px;
    top: -40px;
    margin-bottom: -40px;
    border: 2px solid #f4f4f4;
    width: 100%;
    overflow: hidden;
}

.search input[type="text"] {
    background-color: #fff;
    line-height: 10px;
    padding: 15px 60px 20px 10px;
    border: none;
    border-radius: 4px;
    width: 350px;
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    color: #8d8d8d;
    height: inherit;
    font-weight: 700;
}

.search button {
    position: absolute;
    right: 0;
    top: 0px;
    border: none;
    background-color: transparent;
    color: #bbbbbb;
    padding: 15px 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search button i {
    font-size: 20px;
    line-height: 30px;
    display: block;
}


/* ------------------------------- */


/* SCROLLBAR CUSTOMIZADO*/


/* width */

 ::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ff6d3c;
    border-radius: 10px;
}


/* Handle on hover */

.hover13 figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.publicacao {
    border-radius: 10px 0px 0px 10px;
}


/* Author
  ---------------------------------- */

@media ( max-width:991px) {
    .categoria {
        order: 0;
    }
    .publicacao {
        order: 1;
    }
}