
    .body{
        background: #fff;
    }
    .nav-item {
        margin: 0 10px;
        cursor: pointer;
    }
    
    .form-control {
        border-radius: 8px;
    }
    
    .has-search .form-control {
        padding-right: 2.375rem;
        border-color: #515151;
        margin-bottom: 0;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 1.700rem;
        height: 1.400rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        margin-top: 8px;
        margin-left: 200px;
        border-left: 1px solid #515151;
        padding-left: 5px;
    }
    
    .has-search .form-control:focus {
        border-color: none;
        box-shadow: none;
    }
    
    .logo {
        display: none;
    }
    /* @media (max-width:1000px) {
        .logo {
            display: inline;
        }
        .img {
            display: none;
        }
        .nome {
            display: none;
        }
    } */